th td p tr {
    font-family: 'Public Sans', sans-serif !important;
    font-size: 1.5rem !important;
    color: #333 !important;
}

.bookingDetail {
    font-family: 'Public Sans', sans-serif !important;
    font-size: 1.5rem !important;
    color: #333 !important;
}

